@import "~app/styles/common.scss";

@include themeable() {
	.container-#{$themeName} {
		height: $headerHeight;
		background: map-get($themeMap, 'primary1Color');
		display: flex;
		justify-content: space-between;
		align-items: center;

		-webkit-app-region: drag;
		> * {
			// -webkit-app-region: no-drag;
		}

		.nav {
			display: block;
		}

		.header {
			color: map-get($themeMap, 'alternativeTextColor');
			font-family: $textFont;
			display: block;
			margin: 0 $drawerHandleWidth;
			font-size: 18pt;
			font-weight: normal;
		}
	}
};
