@import '~app/styles/common';

@include themeable {
	.container-#{$themeName} {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: map-get($themeMap, 'primary1Color');
		height: $headerHeight;

		// -webkit-app-region: drag;
		// > * {
		// 	-webkit-app-region: no-drag;
		// }

		.nav {
			display: block;
		}

		.header {
			display: block;
			margin: 0 $drawerHandleWidth;
			color: map-get($themeMap, 'alternativeTextColor');
			font-family: $textFont;
			font-size: 18pt;
			font-weight: normal;
		}
	}
};
