@import 'app/styles/fonts/fonts.css';
@import 'app/styles/themes.json';
@import 'app/styles/variables.json';

@mixin trans($dur: 0.5s) {
	transition-duration: $dur;
}

@mixin wrapper {
	position: relative;
	margin: auto;
	padding-top: 4vh;
	max-width: $wrapperWidth;
	box-sizing: border-box;
}

@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin override-button {
	> button {
		position: absolute !important;
		width: 100% !important;
		height: 100% !important;
		min-width: unset !important;

		> * {
			display: none !important;
		}
	}
}

$themeName: 1;
$themeMap: 1;
@mixin themeable {
	$names: dark, giant-goldfish;
	@each $name in $names {
		$themeName: $name !global;
		$themeMap: map-get($themes, $name) !global;
		@content;
	}
}
