@import 'app/styles/fonts/fonts.css';
@import 'app/styles/themes.json';
@import 'app/styles/variables.json';

@mixin trans($dur: 0.5s, $target: all) {
	transition: $target $dur;
}

@mixin wrapper($width: $minWrapperWidth) {
	position: relative;
	margin: auto;
	padding-top: 4vh;
	width: 70vw; // 960 / 1366
	box-sizing: border-box;

	min-width: $width;
	@media (max-width: $width) {
		width: 100vw;
		min-width: 0;
	}
}

@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin override-button {
	> button {
		position: absolute !important;
		width: 100% !important;
		height: 100% !important;
		min-width: unset !important;

		> * {
			display: none !important;
		}
	}
}

$themeName: 1;
$themeMap: 1;
@mixin themeable {
	$names: dark, giant-goldfish;
	@each $name in $names {
		$themeName: $name !global;
		$themeMap: map-get($themes, $name) !global;
		@content;
	}
}
