@import '~app/styles/common';

@include themeable {
	.container-#{$themeName} {
		svg {
			color: map-get($themeMap, 'accent1Color') !important;
			fill: map-get($themeMap, 'accent1Color') !important;
		}
	}
};


.container {
	width: $moduleMaxWidth;
}
