@import '~app/styles/common';

.top {
	display: flex;
	position: relative;
	justify-content: space-between;
	height: 100%;

	.main {
		position: relative;
		margin-right: auto;
		margin-left: auto;
		width: calc(100% - #{$drawerHandleWidth * 2});
	}
}
