@import '~app/styles/common';

@include themeable {
	.container-#{$themeName} {
		color: map-get($themeMap, 'textColor');
		font-family: $uiFont;
		user-select: none;
	}
};

.main {
	position: relative;
	height: calc(100vh - #{$headerHeight});
}

.content {
	display: flex;
	justify-content: center;

	> div {
		padding: 24px;

		> :empty {
			display: none;
		}
	}

}

.actions-container {
	padding: 8px 0 0 0 !important;
}

.title {
	padding: 0 0 8px 0 !important;
}
