@import '~app/styles/common';

@include themeable {
	.code-#{$themeName} {
		p {
			color: map-get($themeMap, 'textColor');

			&.active {
				background-color: map-get($themeMap, 'accent1Color');
				color: map-get($themeMap, 'alternativeTextColor');
			}
		}
	}

	.code {
		p {
			margin: 0;
			white-space: pre;
			font-family: $monospaceFont;
			transition-duration: 500ms;
		}
	}
}
