@import '~app/styles/common';

@include themeable {
	.container-#{$themeName} {
		width: $moduleMaxWidth;
		// height: 100%;
		// overflow-x: hidden;

		thead,
		tr {
			display: table;
			border-bottom: 0 !important;
			background: map-get($themeMap, 'backgroundColor') !important;
			width: 100%;
			table-layout: fixed;
		}

		tbody {
			display: block;
		}
	}
}
