@import "~app/styles/common";

@include themeable() {
	.container-#{$themeName} {
		width: $moduleMaxWidth;
		height: 100%;
		// overflow-x: hidden;
		thead, tr {
			display:table;
			width:100%;
			table-layout:fixed;
			background: map-get($themeMap, 'backgroundColor') !important;
			border-bottom: none !important;
		}

		tbody {
			display: block;
		}
	}
}
