@import '~app/styles/common';
@import './variables.json';

@include themeable {
	.container-#{$themeName} {
		@include override-button;

		display: inline-flex;
		position: relative;
		flex-flow: column;
		justify-content: center;
		margin: $margin 0;
		background: map-get($themeMap, 'primary1Color');
		overflow: hidden;
		text-decoration: none;
		font-family: $uiFont;

		.inner-container {
			padding: $margin * 2;
		}

		.primary-#{$themeName},
		.secondary-#{$themeName} {
			overflow: hidden;
			font-weight: 500;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: map-get($themeMap, 'alternativeTextColor');
		}

		.primary-#{$themeName} {
			margin: $fontSize / 10 0;
			font-size: $fontSize;
		}

		.secondary-#{$themeName} {
			font-size: $fontSize * (5 / 9);
		}
	}
};
