@import "~app/styles/common";
@import "./variables.json";

@include themeable() {
	.child-#{$themeName} {
		background: map-get($themeMap, 'primary');
		display: flex;
		flex-flow: column;
		justify-content: center;
		box-sizing: border-box;
		margin-bottom: $margin;
		margin-right: $margin;
		padding: $margin;
		// padding-left: $margin * 2;
		position: relative;
		color: white;
		overflow: hidden;

		.primary-#{$themeName}, .secondary-#{$themeName} {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.primary-#{$themeName} {
			font-size: $fontSize;
		}

		.secondary-#{$themeName} {
			font-size: $fontSize * (5/9);
		}
	}
};
